body {
    background: linear-gradient( rgba(0,0,0,1) 0%, rgba(0,0,40,1) 46%, rgba(0,0,54,1) 76%, rgba(0,0,107,1) 91%);
    margin: 0;
}
.container{
    // color: #fff;
    .tab-main-box{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .tab{
        padding: 15px;
        outline: none;
        :active{
            outline: none;
        }
        cursor: pointer;
    }
    .active {
        color: #FFC926;
    }
}